input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body .mainDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
}

body .emptyText {
  padding: 20px;
  font-size: 20px;
}

body .sessionsCardsContainer::-webkit-scrollbar,
body .allWindowsDiv::-webkit-scrollbar {
  width: 6px;
}

body .sessionsCardsContainer::-webkit-scrollbar-track,
body .allWindowsDiv::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

body .sessionsCardsContainer::-webkit-scrollbar-thumb,
body .allWindowsDiv::-webkit-scrollbar-thumb {
  background: #b5da9c;
  border-radius: 3px;
}

body .sessionsCardsContainer::-webkit-scrollbar-thumb:hover,
body .allWindowsDiv::-webkit-scrollbar-thumb:hover {
  background: #7DBF4E;
}

body .sessionsDiv {
  width: 30%;
  max-width: 400px;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

body .sessionsDiv .logoDiv {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-width: 100%;
  height: 50px;
  max-width: 300px;
  margin: 15px;
}

body .sessionsDiv .logoDiv:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.507);
          box-shadow: rgba(0, 0, 0, 0.507);
}

body .sessionsDiv .loadingGif {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 200px;
  width: 200px;
  margin: 15px;
  outline: none;
  border: none;
}

body .sessionsDiv .noSession {
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
}

body .sessionsDiv .authButton {
  background: #7DBF4E;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
  padding: 5px;
  width: 90%;
  max-width: 280px;
  height: 80px;
  min-height: 80px;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

body .sessionsDiv .authButton:hover {
  background: #E0E0E0;
}

body .sessionsDiv iframe {
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sessionsDiv .sessionsCardsContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

body .sessionsDiv .sessionsCardsContainer .cardSession {
  background: #7DBF4E;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 90%;
  max-width: 280px;
  height: 80px;
  min-height: 80px;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

body .sessionsDiv .sessionsCardsContainer .cardSession:hover {
  background-color: #E0E0E0;
}

body .sessionsDiv .sessionsCardsContainer .cardSessionSelected {
  background: #579b26;
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 90%;
  max-width: 280px;
  height: 80px;
  min-height: 80px;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

body .sessionsDiv .sessionsCardsContainer .cardSessionSelected:hover {
  background-color: #a19f9f;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .sessionsDiv .sessionsCardsContainer .cardName {
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
}

body .sessionsDiv .sessionsCardsContainer .cardStats {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  bottom: -5px;
  width: 100%;
}

body .sessionsDiv .sessionsCardsContainer .cardStats .cardNumbers {
  font-weight: 200;
  font-style: italic;
  padding: 5px;
  bottom: 0;
}

body .sessionsDiv .sessionsCardsContainer .cardStats .cardDate {
  font-size: 12px;
  padding: 5px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body .sessionsDiv .sessionsCardsContainer:hover {
  overflow-y: scroll;
}

body div.allWindowsDiv {
  background-color: #E0E0E0;
  margin: 0;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body .dashHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .headerButtonsHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .headerButton {
  border-radius: 5px;
  min-width: 60px;
  background-color: white;
  height: 40px;
  margin: 2px;
}

body .headerDropMenu {
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

body .headerDropMenu:hover .dropMenuContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 18;
}

body .dropMenuContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 20;
  padding: 5px;
  border: 0;
}

body .dropMenuItem {
  background: #f9f9f9;
  z-index: 22;
  margin: 10px;
  height: 60px;
  border-radius: 5px;
  width: 200px;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  overflow-wrap: break-word;
}

body .dropMenuItem:hover {
  background: #7DBF4E;
}

body form {
  left: 30px;
  padding-right: 0px;
  margin-right: 50px;
  min-width: 300px;
  margin-bottom: 20px;
  top: 5px;
  position: relative;
  background: transparent;
  border-bottom: 1px solid;
  border-color: black;
  padding: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body form input {
  font-size: 30px;
  font-weight: 600;
  padding: 5px;
  padding-left: 20px;
  background: transparent;
  border: 0;
}

body form:hover {
  border-bottom: 2px solid;
  border-color: #7DBF4E;
  background: #E0E0E0;
}

body div.window {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background: -webkit-gradient(linear, right top, left top, from(rgba(192, 220, 173, 0.514)), to(#c0dcad));
  background: linear-gradient(to left, rgba(192, 220, 173, 0.514), #c0dcad);
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  min-height: 125px;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  left: 15px;
}

body div.window div.windowTitle {
  font-weight: 500;
  font-size: 22px;
  font-style: italic;
  position: relative;
  left: 15px;
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 5px;
}

body div.window .tab {
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body div.window .tab .deleteDiv {
  color: black;
  font-weight: 400;
  border-radius: 5px;
  display: none;
  background: transparent;
  border: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body div.window .tab .deleteDiv:hover {
  color: red;
}

body div.window .tab .icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}

body div.window .tab .tabTitleandURL {
  justify-items: left;
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body div.window .tab .tabTitleandURL .tabTitle {
  font-size: 15px;
  margin: 1px;
  overflow-x: hidden;
  width: 98%;
}

body div.window .tab .tabTitleandURL .tabURL {
  font-size: 10px;
  font-weight: 300;
  margin: 1px;
  overflow-x: hidden;
  width: 98%;
}

body div.window .tab .tabTitleandURL:hover {
  cursor: pointer;
}

body div.windowOptions {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 10px;
  -webkit-clip-path: circle(30px at 100% 0%);
          clip-path: circle(30px at 100% 0%);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  z-index: 10;
  cursor: pointer;
}

body div.windowOptions:hover {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
  background: #b5da9c;
}

body button.buttonWindowOptions {
  height: 40px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
}
/*# sourceMappingURL=dashboard.css.map */