input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .mainDiv {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-flow: row;
        width: 100%;
    }

    .emptyText {
        padding: 20px;
        font-size: 20px;
    }

    .sessionsCardsContainer::-webkit-scrollbar,
    .allWindowsDiv::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    .sessionsCardsContainer::-webkit-scrollbar-track,
    .allWindowsDiv::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 3px;
    }

    /* Handle */
    .sessionsCardsContainer::-webkit-scrollbar-thumb,
    .allWindowsDiv::-webkit-scrollbar-thumb {
        background: rgb(181, 218, 156);
        border-radius: 3px;
    }

    /* Handle on hover */
    .sessionsCardsContainer::-webkit-scrollbar-thumb:hover,
    .allWindowsDiv::-webkit-scrollbar-thumb:hover {
        background: #7DBF4E;
    }

    .sessionsDiv {
        width: 30%;
        max-width: 400px;
        height: 100vh;
        align-items: center;
        justify-items: center;
        display: flex;
        flex-flow: column;

        .logoDiv {
            position: relative;
            box-sizing: content-box;
            border-width: 100%;
            height: 50px;
            max-width: 300px;
            margin: 15px;
        }

        .logoDiv:hover {
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.507);
        }

        .loadingGif {
            position: relative;
            box-sizing: content-box;
            height: 200px;
            width: 200px;
            margin: 15px;
            outline: none;
            border: none;
        }

        .noSession {
            font-size: 14px;
            font-weight: 400;
            height: 50px;
            position: relative;
            align-content: center;
            justify-content: center;
            margin: 15px;
        }

        .authButton {
            background: #7DBF4E;
            border-radius: 5px;
            font-size: 16px;
            margin: 10px;
            padding: 5px;
            width: 90%;
            max-width: 280px;
            height: 80px;
            min-height: 80px;
            transition: 0.3s ease-in-out all;
        }

        .authButton:hover {
            background: #E0E0E0;
        }

        iframe {
            height: 100%;
            align-content: center;
            justify-content: center;
        }

        .sessionsCardsContainer {
            flex: 1 1 auto;
            width: 100%;
            overflow-y: hidden;
            overflow-x: hidden;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-items: center;
            transition: 0.3s ease-in-out all;

            .cardSession {
                background: #7DBF4E;
                border-radius: 5px;
                margin: 10px;
                padding: 5px;
                width: 90%;
                max-width: 280px;
                height: 80px;
                min-height: 80px;
                transition: 0.3s ease-in-out all;
            }

            .cardSession:hover {
                background-color: #E0E0E0
            }

            .cardSessionSelected {
                background: rgb(87, 155, 38);
                box-shadow: 5px 10px #888888;
                border-radius: 5px;
                margin: 10px;
                padding: 5px;
                width: 90%;
                max-width: 280px;
                height: 80px;
                min-height: 80px;
                transition: 0.3s ease-in-out all;
            }

            .cardSessionSelected:hover {
                background-color: rgb(161, 159, 159);
                box-shadow: none;
            }

            .cardName {
                font-weight: 600;
                font-size: 20px;
                padding: 5px;
            }

            .cardStats {
                font-size: 15px;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                position: relative;
                bottom: -5px;
                width: 100%;

                .cardNumbers {
                    font-weight: 200;
                    font-style: italic;
                    padding: 5px;
                    bottom: 0;
                }

                .cardDate {
                    font-size: 12px;
                    padding: 5px;
                    bottom: 0px;
                    display: flex;
                    justify-content: flex-end;
                    flex: 1 1 auto;
                }
            }
        }

        .sessionsCardsContainer:hover {
            overflow-y: scroll;
        }
    }

    div.allWindowsDiv {
        background-color: #E0E0E0;
        margin: 0;
        height: 100vh;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        align-items: center;
        white-space: nowrap;
        flex: 1 1 auto;
    }

    .dashHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .headerButtonsHolder{
        display: flex;
        flex-wrap: wrap;
    }

    .headerButton {
        border-radius: 5px;
        min-width: 60px;
        background-color: rgb(255, 255, 255);
        height: 40px;
        margin: 2px;
    }

    .headerDropMenu {
        transition: 0.3s ease-in-out all;
    }

    .headerDropMenu:hover .dropMenuContent {
        display: flex;
        flex-direction: column;
        z-index: 18;
    }

    .dropMenuContent {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 20;
        padding: 5px;
        border: 0;
    }

    .dropMenuItem {
        background: #f9f9f9;
        z-index: 22;
        margin: 10px;
        height: 60px;
        border-radius: 5px;
        width: 200px;
        transition: 0.2s ease-in-out all;
        overflow-wrap: break-word;
    }

    .dropMenuItem:hover {
        background: #7DBF4E
    }

    form {
        left: 30px;
        padding-right: 0px;
        margin-right: 50px;
        min-width: 300px;
        margin-bottom: 20px;
        top: 5px;
        position: relative;
        background: transparent;
        border-bottom: 1px solid;
        border-color: black;
        padding: 0;
        transition: all .2s ease-in-out;

        input {
            font-size: 30px;
            font-weight: 600;
            padding: 5px;
            padding-left: 20px;
            background: transparent;
            border: 0;
        }
    }

    form:hover {
        border-bottom: 2px solid;
        border-color: #7DBF4E;
        background: #E0E0E0
    }

    div.window {
        display: grid;
        align-items: left;
        background: linear-gradient(to left, rgba(192, 220, 173, 0.514), rgb(192, 220, 173));
        border-radius: 10px;
        width: 90%;
        max-width: 1000px;
        min-height: 125px;
        font-size: 15px;
        margin: 10px;
        padding: 5px;
        transition: all .3s ease-in-out;
        position: relative;
        left: 15px;

        div.windowTitle {
            font-weight: 500;
            font-size: 22px;
            font-style: italic;
            position: relative;
            left: 15px;
            max-width: 500px;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .tab {
            margin: 5px;
            align-items: center;
            justify-items: center;
            display: flex;
            width: 100%;

            .deleteDiv {
                color: black;
                font-weight: 400;
                border-radius: 5px;
                display: none;
                background: transparent;
                border: 0;
                transition: all 0.5s ease-in-out;
            }

            .deleteDiv:hover {
                color: red;
            }

            .icon {
                width: 20px;
                height: 20px;
                margin: 5px;
            }

            .tabTitleandURL {
                justify-items: left;
                display: grid;
                flex: 1 1 auto;

                .tabTitle {
                    font-size: 15px;
                    margin: 1px;
                    overflow-x: hidden;
                    width: 98%;
                }

                .tabURL {
                    font-size: 10px;
                    font-weight: 300;
                    margin: 1px;
                    overflow-x: hidden;
                    width: 98%;
                }
            }

            .tabTitleandURL:hover {
                cursor: pointer;
            }

        }
    }

    div.windowOptions {
        display: grid;
        justify-items: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;

        background: white;
        border-radius: 10px;
        clip-path: circle(30px at 100% 0%);
        transition: all .5s ease-out;
        z-index: 10;
        cursor: pointer;
    }

    div.windowOptions:hover {
        clip-path: circle(75%);
        background: rgb(181, 218, 156);
    }

    button.buttonWindowOptions {
        height: 40px;
        width: 300px;
        background-color: white;
        border-radius: 10px;
        font-weight: 500;
        font-size: 15px;
    }

}